/* 
    sobrescreve os css original para estilo dos menus
*/


/* Altera a cor de fundo da navbar */
#mainNav{
    background-color: #333a8c;
}

/* Estilo para os links do menu*/
#mainNav .navbar-nav > li.nav-item a {
    padding: 10px 20px;
    color: #fff;
}

#mainNav .navbar-nav > li.nav-item a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* cor botão navbar modo smartphone*/
#mainNav .navbar-toggler{
    color: whitesmoke;
}

/* cor nome usuario logado modo smartphone*/
#mainNav .navbar-brand {
    color: whitesmoke;
}

/* cor texto de pesquisa*/
.cmp-pesquisar {
    color: white;
}

/* cor texto de pesquisa*/
.cmp-pesquisar:focus {
    color: white;
}